<!-- BREADCRUMB -->
<div class="breadcrumb">
  
  <!-- Navigate to Projects List -->
  <a (click)="goToProjects()">Projects</a> /
  
  <!-- Navigate to Project Detail (task.projectId) -->
  <a (click)="goToProject(task?.projectId)">
    {{ projectName }}
  </a> /
  
  <!-- Current Task (no navigation needed) -->
  <span>{{ task?.title }}</span>
</div>

<!-- TITLE + STATUS + ACTIONS -->
<div class="top-bar">
    <h1 class="page-title">{{ task?.title }}</h1>

    <div class="badges-task">
        <span class="badge status">{{ task?.status }}</span>
        <span class="badge priority">{{ task?.priority }}</span>
    </div>

    <div class="actions-task">
        <button class="btn-outline" (click)="onEdit()">Edit <img src="assets/icons/edit-Icon.svg" alt="Edit Icon"></button>
        <button class="btn-delete" (click)="onDelete()">Delete <img src="assets/icons/delete-Icon.svg" alt="Delete Icon"></button>
    </div>
</div>

<!-- STATUS + PRIORITY CONTROLS -->
<div class="controls">
    <label>Status:</label>
    <select [ngModel]="task?.status" (ngModelChange)="updateStatus($event)">
        <option *ngFor="let s of statusOptions">{{ s }}</option>
    </select>

    <label>Priority:</label>
    <select [ngModel]="task?.priority" (ngModelChange)="updatePriority($event)">
        <option *ngFor="let p of priorityOptions">{{ p }}</option>
    </select>
</div>

<!-- MAIN GRID -->
<div class="content-grid">

    <!-- LEFT INFO PANEL -->
    <div class="info-card">
        <div class="info-row">
            <span class="label"><img src="assets/icons/calendar-Icon.svg" alt="Due Date Icon"> Due Date</span>
            <span>{{ task?.dueDate }}</span>
        </div>

        <div class="info-row">
            <span class="label"><img src="assets/icons/profile-Icon.svg" alt="Assignee Icon"> Assignee</span>
            <span>{{ task?.assignee }}</span>
        </div>

        <div class="info-row">
            <span class="label"> Created At</span>
            <span>{{ task?.createdAt }}</span>
        </div>

        <div class="info-row">
            <span class="label"> Project</span>
            <span>{{ projectName }}</span>
        </div>

        <div class="info-row">
            <span class="label"> Created By</span>
            <span>{{ task?.createdBy }}</span>
        </div>

        <div class="info-row">
            <span class="label"> Last Updated</span>
            <span>{{ task?.updatedAt }}</span>
        </div>
    </div>

    <!-- RIGHT STATUS HISTORY -->
    <div class="history-card">
        <h3><img src="assets/icons/history-Icon.svg" alt="Status History Icon">  Status History</h3>

        <div class="history-item" *ngFor="let h of statusHistory">
            <span class="status-tag"><img src="assets/icons/time-Icon.svg" alt="Icon">  {{ h.status }}</span>
            <span class="date">{{ h.date }}</span>
        </div>
    </div>

</div>

<!-- DESCRIPTION -->
<div class="description">
    <h3>Description</h3>
    <p>{{ task?.description }}</p>
</div>
<app-delete-confirm-modal
  [visible]="showDeleteModal"
  [itemName]="task?.title"
  (confirm)="onConfirmDelete()"
  (cancel)="onCancelDelete()">
</app-delete-confirm-modal>