<header class="app-header">
  <div class="container">
    <h2 class="logo">Task Manager</h2>

    <nav>
      @if (user) {
        <div class="user-info">
          <span>Welcome, <strong>{{ user.name }}</strong></span>
          <button class="logout-btn" (click)="logout()">Logout</button>
        </div>
      } @else {
        <a routerLink="/login" class="login-link">Login</a>
      }
    </nav>
     <div class="header-content">
    <div class="logo">Notifications</div>
    <nav class="nav-menu">
    
      <app-notification-bell-component></app-notification-bell-component>
    </nav>
  </div>
  </div>
</header>