<div class="dialog-overlay">
  <div class="dialog-box">
    <div class="dialog-header-green">
      <h3>{{ title }}</h3>
      <button class="logout-close-icon" (click)="$event.stopPropagation(); cancel.emit()">
        <img src="assets/icons/cross-Icon.svg" alt="Close" />
      </button>
    </div>
    <div class="dialog-inner">
      <div class="dialog-body">
        @for (line of message.split('\n'); track $index) {
        <p>{{ line }}</p>
        }
      </div>
      <div class="dialog-actions">
        <button class="btn confirm" (click)="$event.stopPropagation(); confirm.emit()">
          {{ confirmText }}
        </button>
        <button class="btn dialog-cancel" (click)="$event.stopPropagation(); cancel.emit()">
          {{ cancelText }}
        </button>
      </div>
    </div>
  </div>
</div>