<div class="register-page">
  <div class="page-title">Register</div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="card">
    <div class="header">
      <div class="header-content">
        <img src="assets/icons/create-account-Icon.svg" alt="create" />
        <h2>Create Account</h2>
      </div>
      <p>Register for an account to access the task management application</p>
    </div>
    <div class="input-group">
      <label>Name</label>
      <input formControlName="name" placeholder="Enter your full name"
        [ngClass]="{ 'invalid-input': formControls['name'].invalid && formControls['name'].touched }" />
      @if (formControls['name'].touched && formControls['name'].invalid) {
      <div class="error">
        @if (formControls['name'].errors?.['required']) {
        <p>Please enter your name.</p>
        }
        @if (formControls['name'].errors?.['invalidName']) {
        <p>Name must contain only letters.</p>
        }
        @if (!formControls['name'].errors?.['invalidName'] &&
        formControls['name'].errors?.['minlength']) {
        <p>Name must be at least 3 characters.</p>
        }
      </div>
      }
    </div>

    <div class="input-group">
      <label>Email</label>
      <input formControlName="email" placeholder="Enter your email"
        (input)="forceLowercaseEmail()"
        [ngClass]="{ 'invalid-input': formControls['email'].invalid && formControls['email'].touched }" />
      @if (formControls['email'].touched && formControls['email'].invalid) {
      <div class="error">
        @if (formControls['email'].errors?.['required']) { <p>Email is
          required.</p> }
        @if (formControls['email'].errors?.['invalidEmail']) { <p>Enter a valid
          Gmail address.</p> }
        @if (formControls['email'].errors?.['emailTaken']) { <p>Email already
          registered.</p> }
      </div>
      }
    </div>
    <div class="input-group">
      <label>Password</label>
      <input type="password" formControlName="password"
        placeholder="Create a strong password"
        [ngClass]="{ 'invalid-input': formControls['password'].invalid && formControls['password'].touched }" />
      @if (formControls['password'].touched && formControls['password'].invalid)
      {
      <div class="error"><p>Password must be atleast 8 characters.</p></div>
      }
    </div>
    @if (formControls['password'].value) {
    <div class="strength-info">
      <span>Password strength:</span>
      <strong [ngClass]="getPasswordStrengthClass()">{{
        getPasswordStrengthLabel() }}</strong>
    </div>
    <div class="password-meter">
      <div class="meter-bar">
        <div class="meter-fill"
          [style.width.%]="getPasswordStrengthPercentage()"
          [ngClass]="getPasswordStrengthClass()"></div>
      </div>
    </div>
    <div class="password-rules">
      <div class="rule" [ngClass]="{ valid: passwordRulesStatus.hasMinLength }">
        <img
          [src]="passwordRulesStatus.hasMinLength ? 'assets/icons/right-Icon.svg' : 'assets/icons/cross-Icon.svg'" />
        At least 8 characters
      </div>
      <div class="rule" [ngClass]="{ valid: passwordRulesStatus.hasUppercase }">
        <img
          [src]="passwordRulesStatus.hasUppercase ? 'assets/icons/right-Icon.svg' : 'assets/icons/cross-Icon.svg'" />
        One uppercase letter
      </div>
      <div class="rule" [ngClass]="{ valid: passwordRulesStatus.hasNumber }">
        <img
          [src]="passwordRulesStatus.hasNumber ? 'assets/icons/right-Icon.svg' : 'assets/icons/cross-Icon.svg'" />
        One number
      </div>
      <div class="rule"
        [ngClass]="{ valid: passwordRulesStatus.hasSpecialChar }">
        <img
          [src]="passwordRulesStatus.hasSpecialChar ? 'assets/icons/right-Icon.svg' : 'assets/icons/cross-Icon.svg'" />
        One special character
      </div>
    </div>
    }
    <div class="input-group">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword"
        placeholder="Re-enter your password"
        [ngClass]="{ 'invalid-input': formControls['confirmPassword'].invalid && formControls['confirmPassword'].touched }" />
      @if (formControls['confirmPassword'].touched &&
      formControls['confirmPassword'].invalid) {
      <div class="error"><p>Passwords do not match.</p></div>
      }
    </div>
    <div class="actions">
      <button class="register-btn" type="submit"
        [disabled]="isSubmitting">Register</button>
      <button class="cancel-btn" type="button"
        (click)="onReset()">Cancel</button>
    </div>
    <div class="back-login">
      <img src="assets/icons/back-to-login.svg" alt="back" />
      <button type="button" (click)="goToLogin()">Back to Login</button>
    </div>
    <div class="messages">
      @if (successMessage) { <div class="success">{{ successMessage }}</div> }
      @if (errorMessage) { <div class="error">{{ errorMessage }}</div> }
    </div>
  </form>
</div>
