<div class="project-card">
  <span class="status-badge" [ngClass]="statusClass">
    {{ project.status }}
  </span>
  <div class="card-header">
    <div>
      <h3 class="project-title">{{ project.name | truncate:30 }}</h3>
      <p class="project-desc">{{ project.description | truncate:60}}</p>
    </div>
    <!-- <span class="status-pill" [ngClass]="project.status">
      {{ project.status }}
    </span> -->
  </div>
  <div class="card-details">
    <div class="detail-row">
      <img src="assets/icons/calendar-Icon.svg" class="icon" />
      <span>{{ project.startDate }} - {{ project.endDate }}</span>
    </div>
    <div class="detail-row">
      <img src="assets/icons/task-Icon.svg" class="icon" />
      <span>{{ taskCount }} tasks</span>
    </div>
  </div>
  <div class="card-index">
    {{ index | number:'2.0' }}
  </div>
</div>