<div class="notifications-card">
  <h3>Recent Notifications</h3>

  <div *ngIf="(notifications$ | async) as list">
    <div *ngIf="list.length; else empty">
      <div *ngFor="let n of list | slice:0:5"
           class="row"
           [class.unread]="!n.isRead"
           (click)="onNavigate(n)">
        <span class="dot" [ngClass]="'dot-' + n.severity"></span>
        <div class="text">
          <div class="title">{{ n.title }}</div>
          <div class="msg">{{ n.message }}</div>
          <div class="time">{{ n.timestamp | date: 'short' }}</div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #empty>
      <div class="empty">
    <img src="/assets/icons/Bell-Icon.svg" alt="" />
    <span>No notifications</span>
    <span>you're all caught up</span>
  </div>
  </ng-template>
</div>